
	<h1>About Manchester United</h1>

	Manchester United Football Club are a professional football club based in Old Trafford, Greater Manchester, England, who play in the Premier League. Founded as Newton Heath LYR Football Club in 1878, the club changed its name to Manchester United in 1902 and moved to Old Trafford in 1910.

	Manchester United have won 20 league titles, the most of any English club,[3] 11 FA Cups, four League Cups and a record 20 FA Community Shields. The club has also won three European Cups, one UEFA Cup Winners' Cup, one UEFA Super Cup, one Intercontinental Cup and one FIFA Club World Cup. In 1998–99, the club achieved a treble of the Premier League, the FA Cup and the UEFA Champions League.


